body {
    background-color: #E9F8F9;
    
}
h1{
    color: #537FE7;
}
h2{
    color: #181823;
}
hr{
    background-color:#E9F8F9;
    border-style: dotted none none;
    border-width: 5px;
    border-color: #537FE7;
    height: 0px;
    width: 10%;
}
table{
    border-style: none;
}
.tabla_exp {
    background-color: #537FE7;
    }
